@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.intro h1:before {
    content: "The Houchati";
    font-style: normal;
    display: block;
    font-size: 1.40rem;
    font-weight: 700;


}

.intro h1 {
    padding-bottom: 5em;
    padding-left: 0.2em;
    letter-spacing: 0.05rem;
    line-height: 1.275em;
    background: url(mountain.png) no-repeat right 0.75em;
    background-size: 8em;
}

@media only screen and (max-width: 1600px) {
    .intro h1 {
        font-size: 80px;
        font-weight: bolder;
        padding-top: 3em;
        padding-left: 0.2em;

        line-height: 1.275em;
        background: url(mountain.png) no-repeat bottom 0.75em;
        background-size: 3em;
    }

}

.intro h2 {
    font-size: 2.25em;
    font-weight: 400;

    margin-top: 0.1em;

    letter-spacing: 0.05rem;
    line-height: 1.275em;
}

header {
    margin-inline: auto;

    font-family: "Ubuntu", serif;
    color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


body {

    margin-inline: auto;

    position: relative;
    /*padding: 50%, 500px;*/
    background: url(mountainblue.jpeg) no-repeat;
    background-size: 150% 100%;


/ / background-image: linear-gradient(darkcyan, #6272A4);


    padding: 0;
    margin: 0;
    justify-content: center;
    font-family: "Ubuntu", serif;
    color: white;
}

.page-wrapper > *:not(.sidebar) + *:not(.sidebar) {
    width: 80%;
    max-width: 800px;
    position: relative;
    justify-content: center;
    padding: 30px;
    margin: 15px;

    margin-inline: auto;

    border-radius: 25px;

    background-color: #E5F3F4;
    font-family: "Ubuntu", serif;
    color: #183E43;
}


@media only screen and (max-width: 1600px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 80%;

    }


    .design-selection, .design-archives, .zen-resources {
        background-image: linear-gradient(#bdd7d8, #aabec8);
        border-radius: 25px;

    / / padding: 15 px;
        margin: 15px;
        width: 80%;
        margin-inline: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
}


.wrapper {

    display: flex;
    justify-content: space-evenly;

    color: #183E43;
    position: relative;
    width: 100%;
    background-image: linear-gradient(#95b7c7, #848fb6);
    padding: 10px;

}


* {
/ / box-shadow: inset 0 0 0 1 px red;
    box-sizing: border-box;


}


@media only screen and (min-width: 1600px) {
    .design-selection, .design-archives, .zen-resources {
        background-image: linear-gradient(#bdd7d8, #aabec8);

        border-radius: 25px;
        width: 400px;
        padding-left: 25px;
        padding-right: 25px;
    }

}


p {
    font-size: 16px;
}

h3 {
    font-size: 30px;
}

h1 {
    font-size: 100px;
    font-weight: bolder;
}

.main-supporting {
    font-family: "Ubuntu", serif;
    color: saddlebrown;

}


a {

    color: brown;
}

.sidebar a {
    color: #1e5f60;

}


.intro {
    padding: 60px;
    font-weight: bolder;
}

a:active {
}

abbr {
    font-weight: bolder;
}

